* {
  box-sizing:border-box;
}
#wrapper {
  width:600px;
  margin:0 auto;
}
h2 {
  text-align:center;
}
form {
  background-color:#d284d9;
  padding:30px 40px;
  text-align:center;
}
input {
  border:none; 
  width:440px;
  padding:10px;
  font-size:16px;
}
.addBtn {
  padding:9px;
  width:60px;
  border:none;
  background-color:#fff;
  color:#222; 
  text-align:center;
  font-size:16px;
  cursor:pointer;
}
.addBtn:hover{
  background-color: #c6e3f4;
}
ul{
  margin:0;
  padding:0;
  list-style: none;
}
ul li{
  cursor:pointer;
  position:relative;
  padding:12px 8px 12px 40px;
  background: #eee;
  font-size:18px;
}
ul li:nth-child(odd) {
  background-color:#f9f9f9;
}
ul li:hover {
  background-color:#ddd;
}
.del {
  position:absolute;
  right:0;
  top:0;
  padding:12px 16px;
}
.del:hover {
  background-color:#007acc;
  color:white;
}