@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Dongle&display=swap');
#container {
        width: 960px;
        margin: 0 auto;
        /* border: 1px solid #ccc; */
}
/* 
img {
        width: 200px;
        height: 200px;
}        
p, ul, address {
    font-family: 'Dongle', sans-serif;
}
h1, h3 {
    font-family: 'Black Han Sans', sans-serif;
} */
header {
    background-color: rebeccapurple;
    padding: 10px;
    overflow: hidden;
}
header img {
    float: left;
    width: 80px;
    height: 80px;
}
nav {
    width: 600px;
    /* margin-top: 3.2px; */
    float: right;  
}
nav ul {
    overflow: hidden;
}
nav li {
    float: left;
    list-style: none;
    padding: 10px;
    margin-left: 30px;
}
nav a {
    color: white;
    text-decoration: none;
}
/* 
section {
    float: left;
    width: 780px;
}
article {
    border: 1px solid #ccc;
    float: left;
    width: 360px;
    height: 288px;
    margin: 2px;
    padding: 10px;
}
article p {
    text-indent: 16px;
    text-align: justify;
}
aside {
    margin-top: 74px;
    width: 180px;
    height: 600px;
    display: inline;
    float: right;
}
aside img {
    width: 180px;
    height: 205px;
}
*/
section {
    width: 780px;
    float: left;
}
section h1 {
    text-indent: 16px;
}
article {
    border: 1px solid #ccc;
    float: left;
    width: 360px;
    height: 288px;
    margin: 2px 2px 2px 0;
    padding: 10px;
}
article p {
    text-indent: 16px;
    text-align: justify;
}
aside {
    margin-top: 74px;
    width: 180px;
    height: 600px;    
    float: left;
}
aside img {
    width: 180px;
    height: 205px;
}

footer {
    color: white;
    background-color: royalblue;
    clear: both;
    padding: 20px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}