#container {
    width: 960px;
    margin: 0 auto;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
}

header {
    background-color: rebeccapurple;
    padding: 10px;
    overflow: hidden;
}
nav {
    width: 600px;
    float: right;
}
nav li {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
}
nav a {
    text-decoration: none;
    color: white;
}

section {
    padding: 10px;
    background-color: beige;
}
section ul {
    text-align: center;
    margin: 10px;
}
section li {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}
section li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
section p {
    text-align: right;
}
section p a {    
    text-decoration: none;
    color: blue;
}
section dl {
    color: blueviolet;
}
section h4 {
    text-indent: 32px;
}
figure {
    text-align: center;
}
figure img {
    width: 150px;
    height: 150px;
}
figcaption {
    color: blueviolet;
}
#act_box {
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    padding: 10px;
}
#on_box {
    border: 2px dotted green;
    border-radius: 20px/20px;
    padding: 10px;
}
#sa_box {
    border: 2px dashed pink;
    border-radius: 30px/30px;
    padding: 10px;
}

aside {
    background-color: peachpuff;
    padding: 10px;
    margin-bottom: 3px;
}

footer {
    background-color: royalblue;
    color: white;
    padding: 20px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
    clear: both;
}