#container {
    width: 960px;
    margin: 0 auto;
    /* padding: 20px; */
    /* border: 1px solid #ccc; */
}

header {
    background-color: rebeccapurple;
    padding: 10px;
    overflow: hidden;
}
nav {
    width: 600px;
    /* margin-top: 3.2px; */
    float: right;
}
nav ul {
    overflow: hidden;
}
nav li {
    float: left;
    list-style: none;
    padding: 10px;
    margin-left: 30px;
}
nav li:nth-child(2n+1) a {
    background-color: thistle;
    color: black;
}
nav li:nth-child(2n) a {
    background-color: powderblue;
    color: black;
}
aside li:nth-child(2n) {
    color: blue;
}
/* aside li:not(:nth-child(2n+1)) {
    color: blue;
} */

nav a {
    text-decoration: none;
    color: white;
}
#act:target, #on:target {
    background-color: yellowgreen;
}
#sa:target {
    background-color: brown;
}
section {
    padding: 20px;
    background-color: beige;
    /* overflow: hidden; */
}
section ul {
    text-align: center;
    margin: 10px;
}
section li {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
}
section li a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
section p {
    text-align: right;
}
section p a {    
    text-decoration: none;
    color: blue;
}
section dl {
    color: blueviolet;
}
section h4 {
    text-indent: 32px;
}
figure {
    text-align: center;
}
figure img {
    width: 160px;
    height: 160px;
}
figcaption {
    color: blueviolet;
}
#act_box {
    border: 1px solid rebeccapurple;
    border-radius: 10px;
    padding: 10px;
}
#on_box {
    border: 2px dotted green;
    border-radius: 20px;
    padding: 10px;
}
#sa_box {
    border: 2px dashed pink;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 10px;
}

aside {
    background-color: peachpuff;
    padding: 10px;
    margin: 3px 0;
}

footer {
    color: white;
    background-color: royalblue;
    clear: both;
    padding: 20px;
    font-weight: 500;
    text-align: center;
    font-style: italic;
}